html {
	height: 100%;
	width: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

main {
    flex: 1 0 auto;
}

.footer, .push {
	background-color: #3F51B5;
	height: 90px;
	color: white;
}


.bodySpacerBig{
	height: 30px;
}

.bodySpacerSmall{
	height: 15px;
}

.bodyBottomSpacer{
	height: 130px;
}


.FABdiv {
	margin-left:auto; 
	margin-right:0; 
}

.textBlue-Grey{
	color: #eceff1;
}

.header{
	height: 300px;
	width: 100%;
}

.coverPicture{
	background-image: url(../img/coverpic.jpg);
	background-size: cover;
	
	background-position: fixed;
}