html {
	height: 100%;
	width: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -140px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 140px; /* .push must be the same height as .footer */
}

.bodySpacerBig{
	height: 30px;
}

.bodySpacerSmall{
	height: 15px;
}

.bodyBottomSpacer{
	height: 130px;
}


.FABdiv {
	margin-left:auto; 
	margin-right:0; 
}

.textBlue-Grey{
	color: #eceff1;
}

.header{
	height: 300px;
	width: 100%;
}

.coverPicture{
	background-image: url(../img/coverpic.jpg);
	background-size: cover;
	
	background-position: fixed;
}

