html {
	height: 100%;
	width: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	width: 100%
	margin: 0 auto -300px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 300px; /* .push must be the same height as .footer */
}

.bodySpacerBig{
	height: 70px;
}

.bodySpacerSmall{
	height: 50px;
}

.bodyBottomSpacer{
	height: 130px;
}


.FABdiv {
	margin-left:auto; 
	margin-right:0; 
}

.whiteText{
	color: #eceff1;
}

.header{
	height: 600px;
	width: 100%;
}

.coverPicture{
	background-image: url(../img/coverpic.jpg);
	background-size: cover;
	
	background-position: center center;
}

.dividerPicture1 {
	
	height:300px;
	
	background-image: url(../img/divider1.jpg);
	background-size: cover;
	
	background-position: center center;
}

.dividerPicture2 {
	
	background-image: url(../img/divider2.jpg);
	background-size: cover;
	
	background-position: center center;
}

.footerSpacing {
	height: 250px;
}

.headerOffset {
	height: 440px;
}